@model Article
@{
    ViewData["Title"] = "Delete Article";
}
<div class="panel panel-default">
    <div class="panel-body">
        <p class="text-center">
            Are you sure you want to delete the article @Model.Title ?
        </p>
        <div class="text-center">
            <a class="btn btn-success" href="~/"><i class="fa fa-backward"></i> No</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" asp-route-confirm="true">Yes <i class="fa fa-forward"></i></a>
        </div>
    </div>
</div>